:root {
  --main-color:#0F2E9A;
  --paragraph-color: rgba(15, 46, 154, 0.7);
  --main-padding:70px;
}
body{
  position:relative;
}
nav ,
footer{
  background: linear-gradient(89.99deg, #56d1d4 0%, #183c9f 99.99%);
}
nav .container,
footer .container {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  position:relative;
}

#burger_bars_icon{
    display:none;
    cursor:pointer;
    font-weight:800;
    transition:0.1s linear color;
}
#burger_bars_icon:hover{
  color:white;
}
 .logo 
{
  width: fit-content;
  display: flex;
  align-items: flex-start;
  gap: 5px;
  color: #fff;
  align-items: center;
  text-decoration:none;
}
 .logo h4 {
  margin: 0;
  font-size: 44px;
}

 .logo img {
  width: 32px;
}

 nav .container .nav_links ,
 footer .container .footer_links{
  list-style-type: none;
  flex: 2;
  display: flex;
  justify-content:center;
  margin: 0;
}
footer .container .footer_links{
    padding:0;
}
footer .container .footer_links li,
nav .container .nav_links li {
  padding: 0px 30px;
  white-space: nowrap;
}
@media(min-width:992px) and (max-width:1200px){
    nav .container .nav_links li {
        padding-left:16px;
        padding-right:16px;
    }
    nav .container .personal_profile {
        margin-left:27px !important;
    }
}
@media(max-width:992px){
footer .container .footer_links li {
    padding-left:13px;
    padding-right:13px;
}    
}
footer .container .footer_links li a,
nav .container .nav_links li a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  transition: 0.1s linear;
}
footer .container .footer_links li a:hover,
nav .container .nav_links li a:hover {
  color: #00507c;
}
footer .container .footer_links li:first-child a,
nav .container .nav_links li:first-child a {
  font-weight: 600;
}
nav .container .search_bar {
  border: 1px solid black;
  flex:1;
  border-radius: 6px;
  position: relative;
  background-color: white;
}
nav .container .search_bar input:focus + i {
  display:none;

}
nav .container .search_bar input {
  padding: 16px 20px 16px 20px;
  width:100%;
  outline: none;
  border: none;
  background-color: transparent;
}

nav .container .search_bar i {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 17px;
}

nav .container .personal_profile {
  display: flex;
  align-items: center;
  margin-left: 57px;
  gap: 7px;
  cursor:pointer;
}

 .personal_img {
  width: 60px;
  height: 60px;
  background-image: url(../img/peronal_image.png);
  background-position: center center;
  background-size: cover;
}
nav .container .personal_profile .personal_info {
  
}
nav .container .personal_profile .personal_info p {
  font-size: 18px;
  margin: 0;
  color: #fff;
}
nav .container .personal_profile .personal_info span {
  color: rgba(255, 255, 255, 0.7);
  font-size:15px;
}
@media(max-width:992px){
    #burger_bars_icon{
        display:block;
        font-size:29px;
    }
    .mobile_icon{
      margin-left:27px;
    }
    nav .container .nav_links{
        position:absolute;
        top:100%;
        flex-direction:column;
        width:100vw;
        left:50%;
        transform:translatex(-50%);
        align-items:center;
        background-color:#1d49a4;
        background: linear-gradient(89.99deg, #56d1d4 0%, #183c9f 99.99%);
        height:0;
        overflow:hidden; 
        transition-duration:0.3s;
    }
    nav .container .nav_links li{
      padding:20px;
    }
    nav .container .personal_profile{
    margin-left:27px !important;
    }
    
    nav .logo{
    margin-right:27px;
    }

}
@media(max-width:768px){
.logo h4 {
  margin: 0;
  font-size: 37px;
}

.logo img {
  width: 25px;
}

nav .container .personal_profile .personal_img {
  width: 50px;
  height: 50px;
}
nav .container .personal_profile .personal_info p {
  font-size: 13px;
  margin: 0;
  color: #fff;
}

nav .container .personal_profile .personal_info span {
  color: rgba(255, 255, 255, 0.7);
  font-size:10px;
}
nav .container .search_bar input {
  padding: 13px 31px 13px 20px;
  width:100%;
  outline: none;
  border: none;
  background-color: transparent;
}
}
@media(min-width:992px){
   nav .container .nav_links{
  height:fit-content !important;
 }
}
.profile_details {
  position:fixed;
  right:-300px;
  width:300px;
  background-color:#eaeaea;
  z-index:500000000;
  height:100vh;
  top:0;
  padding:50px 25px 0px 25px;
  transition:0.2s linear right;
  box-shadow: 0px -3px 16px 0px #3a373747;
}
.profile_details > i{ 
position:absolute;
font-size:30px;
top:10px;
cursor:pointer;
}
.profile_details .personal_img{
margin-bottom:30px;
width:90px;
height:90px;
}
.profile_details  .personal_details{

}
.profile_details  .personal_details p{
  font-size:19px;
  margin-bottom:32px;
  color:var(--main-color);
  font-weight:600;
}
.profile_details .personal_details p span{
  color:var(--paragraph-color);
  font-weight:500;
}
/* end nav section */

/* start footer section */
footer .container .contact_icons{
display:flex;
align-items:center;
gap:24px;
}
footer .container .contact_icons .icon{
     padding:20px;
     border-radius:50%;
     position:relative;
     border:1.5px solid white;
     cursor:pointer;
}

footer .container .contact_icons .icon:nth-of-type(2)::before{
content:"";
position:absolute;
border:5px solid ;
border-color:transparent white transparent transparent;
transform:rotate(-41deg) scalex(1.5);
left:-5px;
bottom:-4px;
}
footer .container .contact_icons .icon:nth-of-type(2)::after{
    content:"";
    position:absolute;
    border:4px solid ;
    border-color:transparent  #1e4da6 transparent transparent;
    transform:rotate(-44deg) scalex(1.9);
    left:-2.3px;
    bottom:-2px;
}
footer .container .contact_icons .icon:not(:nth-of-type(2)):hover{
    background-color:white;
}
footer .container .contact_icons .icon:first-of-type:hover i{
    color:#4267B2;
}
footer .container .contact_icons .icon:last-of-type:hover i{
    color:#1DA1F2;
}
footer .container .contact_icons .icon:nth-of-type(2):hover{
    background-color:#25D366;
}
footer .container .contact_icons .icon:nth-of-type(2):hover::after{
    border-color:transparent  #25D366 transparent transparent;
}
footer .container .contact_icons .icon i{
    font-size:20px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:white;
}

footer .container .contact_icons .whatsapp_icon {  
    color:white;
    width:40px;
}
footer .container{
  padding-top: 20px;
  padding-bottom: 20px;
}
@media(max-width:768px){
    footer .container{
        flex-direction:column;
        align-items:center;
        justify-content:center;
        gap:20px;
    }
    footer .container .contact_icons{
    display:flex;
    align-items:center;
}

footer .container .contact_icons .icon{
     padding:15px;
}
footer .container .contact_icons .icon i{
    font-size:15px;
}

footer .container .contact_icons .icon:nth-of-type(2)::before{
  transform:rotate(-43deg) scalex(1.5);
  left:-6px;
  bottom:-6px;
}
footer .container .contact_icons .icon:nth-of-type(2)::after{
    transform:rotate(-45deg) scalex(1.9);
    left:-2.0px;
    bottom:-2.3px;
    border-color:transparent  #3789ba transparent transparent;
}

} 

/* end footer section */